
<div class="container">
<h1>New Orders</h1>
<table>
    <thead>
        <th>OrderId</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
    </thead>
    <tbody>
       <tr *ngFor="let x of customers">
          <td>{{x.OrderId}}</td>
          <td>{{x.Name}}</td>
          <td>{{x.Address}}</td>
          <td>
            <button>SUBMIT</button>
          </td>
          <td>
            <button>CANCEL</button>
          </td>
        </tr>

    </tbody>
</table>   
</div>
<mat-paginator [length]="4"
              [pageSize]="1"
              [pageSizeOptions]="[1,2,3,4]"
              aria-label="Select page">
</mat-paginator>
