<mat-chip-set aria-label="Fish selection">
  <mat-chip>25<br>Shipped</mat-chip>
  <mat-chip>50<br>Delivered</mat-chip>
  <mat-chip>05<br>Cancelled</mat-chip>
  <mat-chip class="add">Adddress<br>480 Halvorson Underpass,Mayerville,Tennessee</mat-chip>
</mat-chip-set><br>
<p>
  Manual<mat-slide-toggle>Automative</mat-slide-toggle>
</p>

<table>
    
    <tbody>
       <tr *ngFor="let x of customers">
          <td>Orded # {{x.Order}}<br>Oct 10 7:10 Pm
          </td>
          <td>{{x.Name}}<br>
          {{x.Address}}</td>
          <td>
            Uber Eats
           <br> <a href="#">Ubereats</a>
          </td>
          <td>
            <button>Support</button>
          </td>
          <td>
            <button>Cancel</button>
          </td>
        </tr>

    </tbody>
</table>   

<mat-paginator [length]="4"
              [pageSize]="1"
              [pageSizeOptions]="[1,2,3,4]"
              aria-label="Select page">
</mat-paginator>
