<mat-toolbar class="tool">
    O&D
<span class="search">
<input type="text" placeholder="serach by Order Id,Customer Name">
</span>
<div class="filter"></div>
<mat-icon>menu</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="sidenav">
    <mat-sidenav mode="side" opened>
        <a [routerLink]="['neworders']">
            <button mat-button>NewOrders</button>
        </a><br>
         <a [routerLink]="['orderhistory']">
            <button mat-button>Order History</button>
        </a><br>
        <a [routerLink]="['Notifications']">
            <button mat-button>Notifications</button>
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
