.tool{
    color: darkgreen;
    background-color: chartreuse;
}
.filter{
    flex: 1 1 auto;
}
.search{
    margin-left: 40px;
}
.sidenav {
    position:absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3bded6;
  }
  mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }