.tool{
    color: rgb(15, 147, 61);
    background-color: rgb(253, 253, 253);
}
.filter{
    flex: 1 1 auto;
}
.search{
    margin-left: 140px;
    
}
.sidenav {
    position:absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e3eeed;
  }
  mat-sidenav{
    min-width: 200px ;
    width: 20px;
    
  }
  mat-sidenav-content{
    display:flex;
    justify-content:left;
    font-size: 10px;
  }
  button.highlighted {
    background-color: #227341; 
    border: 2px solid #ffa500; 
    color: white;
  }
  
  